html {
    background-color: salmon;
}

body {
    font-family: "Trebuchet MS"; Tahoma; Verdana;
}

img {
    width: 600px;
    height: auto;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: blanchedalmond;
}

h2 {
    color: rgb(82, 43, 43);
}

p,
li {
    color: blanchedalmond;
}

#sig {
    font-family: "Brush Script MT";
    font-size: 26px;
    color:rgb(2, 124, 55);
}

